@charset "UTF-8";

body {
  color: #383e45;
  font-size: 0.9rem;
  font-family:
    Hiragino Kaku Gothic ProN,
    "Hiragino Sans",
    "Meiryo",
    sans-serif;
  line-height: 1.6;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

ul {
  list-style: none;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto 100;
  padding: 4%;
}

.sec-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 60px;
  border-bottom: #383e45 solid 1px;
  display: inline-block;
  text-align: center;
}
